#presenpress-cursor
{
    position: fixed;
    z-index: 99999;
    background-image: url(../img/cursor.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    opacity: 0.7;
    display: none;
}

#presenpress-highlight
{
    position: fixed;
    width: 3000px;
    height: 3000px;
    background-image: url(../img/highlight.png);
    background-color: transparent important!;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 99999;
    opacity: 0.9;
}

#social-buttons
{
    display: none;
}

@media screen and (min-width: 768px) {
#social-buttons
{
    display: block;
    position: fixed;
    bottom: 10px;
    left: 20px;
    overflow: auto;
    z-index: 9999;
}

#social-buttons .share
{
    margin-bottom: 5px;
    color: #ffffff;
}
}
