#presenpress-cursor
{
    position: fixed;
    z-index: 99999;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    display: none;
    border-radius: 20px;
    border: 5px solid #ff3300;
    box-sizing: border-box;
    background: none;
}

#presenpress-cursor.wait
{
    border: none;
    background-color: #ff0000;
}

#presenpress-cursor.highlight
{
    position: fixed;
    width: 6000px;
    height: 6000px;
    border: none;
    opacity: 0.8;
}

#social-buttons
{
    display: none;
}

@media screen and (min-width: 768px) {
#social-buttons
{
    display: block;
    position: fixed;
    bottom: 20px;
    left: 20px;
    overflow: auto;
    z-index: 9999;
}

#social-buttons .share
{
    margin-bottom: 5px;
    color: #ffffff;
}
}
